In [1]:
# packages used
import pandas as pd
import numpy as np
from sklearn import tree
#from sklearn.ensemble import BaggingClassifier
#from sklearn.ensemble import RandomForestClassifier
#from sklearn.ensemble import AdaBoostClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
%matplotlib inline

In [2]:
# Load the data
data_dir = 'Data/'
Stores = pd.read_csv(data_dir + 'AllStoresKansas.csv', dtype = str)
StoreType = pd.read_csv(data_dir + 'NonLowPointStoresKansas.csv', dtype = str)

In [3]:
Stores.head()

,RTL_STORE_CD,RTL_FIPS_COUNTY_DSC,RTL_PREMISE_TYPE_CD,RTL_CHANNEL_DSC,RTL_SUBCHANNEL_DSC,RTL_BEER_FLAG,RTL_LIQUOR_FLG
0,101403888,SEDGWICK,OFF,LIQUOR,CONVENTIONAL LIQUOR,Y,Y
1,100091604,SALINE,OFF,CONVENIENCE STORE,CONVENTIONAL CONVENIENCE,Y,N
2,200697901,SEDGWICK,OFF,CONVENIENCE STORE,CONVENTIONAL CONVENIENCE,Y,N
3,100091143,HARPER,OFF,GROCERY,SUPERMARKET-CONVENTIONAL,Y,N
4,107381463,DOUGLAS,OFF,GROCERY,SUPERMARKET-NATURAL/GOURMET FOODS,Y,N

In [4]:
StoreType.head()

  RTL_STORE_CD     BEERTYPE
0    201919318  NonLowPoint
1    205526360  NonLowPoint
2    100765511  NonLowPoint
3    101868466  NonLowPoint
4    103714116  NonLowPoint

In [5]:
FullData = pd.merge(Stores, StoreType, on="RTL_STORE_CD", how="left")

In [6]:
FullData.loc[FullData['BEERTYPE'].isnull(),"BEERTYPE"] = "LowPoint"

In [7]:
FullData = pd.concat([FullData, pd.get_dummies(FullData['RTL_FIPS_COUNTY_DSC'],prefix='COUNTY')], axis=1)
FullData = pd.concat([FullData, pd.get_dummies(FullData['RTL_PREMISE_TYPE_CD'],prefix='PREMISE')], axis=1)
FullData = pd.concat([FullData, pd.get_dummies(FullData['RTL_CHANNEL_DSC'],prefix='CHANNEL')], axis=1)
FullData = pd.concat([FullData, pd.get_dummies(FullData['RTL_SUBCHANNEL_DSC'],prefix='SUBCHANNEL')], axis=1)
FullData = pd.concat([FullData, pd.get_dummies(FullData['RTL_BEER_FLAG'],prefix='BEER_LICENSE')], axis=1)
FullData = pd.concat([FullData, pd.get_dummies(FullData['RTL_LIQUOR_FLG'],prefix='LIQUOR_LICENSE')], axis=1)
FullData.head()

,RTL_STORE_CD,RTL_FIPS_COUNTY_DSC,RTL_PREMISE_TYPE_CD,RTL_CHANNEL_DSC,RTL_SUBCHANNEL_DSC,RTL_BEER_FLAG,RTL_LIQUOR_FLG,BEERTYPE,COUNTY_ALLEN,COUNTY_ANDERSON,...,SUBCHANNEL_SUPERMARKET-NATURAL/GOURMET FOODS,SUBCHANNEL_THEATER,SUBCHANNEL_UNKNOWN,SUBCHANNEL_WINE SPECIALTY STORE,BEER_LICENSE_N,BEER_LICENSE_U,BEER_LICENSE_Y,LIQUOR_LICENSE_N,LIQUOR_LICENSE_U,LIQUOR_LICENSE_Y
0,101403888,SEDGWICK,OFF,LIQUOR,CONVENTIONAL LIQUOR,Y,Y,NonLowPoint,0,0,...,0,0,0,0,0,0,1,0,0,1
1,100091604,SALINE,OFF,CONVENIENCE STORE,CONVENTIONAL CONVENIENCE,Y,N,LowPoint,0,0,...,0,0,0,0,0,0,1,1,0,0
2,200697901,SEDGWICK,OFF,CONVENIENCE STORE,CONVENTIONAL CONVENIENCE,Y,N,LowPoint,0,0,...,0,0,0,0,0,0,1,1,0,0
3,100091143,HARPER,OFF,GROCERY,SUPERMARKET-CONVENTIONAL,Y,N,LowPoint,0,0,...,0,0,0,0,0,0,1,1,0,0
4,107381463,DOUGLAS,OFF,GROCERY,SUPERMARKET-NATURAL/GOURMET FOODS,Y,N,LowPoint,0,0,...,1,0,0,0,0,0,1,1,0,0

In [8]:
### Prepare Data

In [9]:
# prepare data to fit model
X_labels = [c for c in FullData.columns if c not in ['RTL_STORE_CD','BEERTYPE','RTL_FIPS_COUNTY_DSC','RTL_PREMISE_TYPE_CD','RTL_CHANNEL_DSC','RTL_SUBCHANNEL_DSC','RTL_BEER_FLAG',"RTL_LIQUOR_FLG"]]
X = FullData.loc[:,X_labels]
Y = FullData['BEERTYPE']

# split data to training and test data
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.4, random_state=0)

In [10]:
clf = tree.DecisionTreeClassifier(min_samples_split = 10)
clf = clf.fit(X_train,Y_train)

In [11]:
clf.score(X_test, Y_test)

0.94876660341555974

In [19]:
#try to find the best tree depth with min split.

#tree depth

#Fit a classification tree to the data with various values of the parameters max_depth and min_samples_leaf, 
#Report the cross-validation errors associated with different values of these parameters.

# change the parameter depth and compute test error
TreeDepth = range(1,21)
MinLeaf = range(1,41)
results = []
for d in TreeDepth:
    for l in MinLeaf:
        clf = tree.DecisionTreeClassifier(max_depth=d, min_samples_leaf=l,random_state=0)
        clf = clf.fit(X,Y)    
        scores = cross_val_score(clf, X, Y, cv=5)
        results.append((d,l,scores.mean(), scores.std()))
    
df_tree_accuracy = pd.DataFrame(data=results,columns=['depth','min_sample_leaf','mean','std'])
df_tree_accuracy['depth_leaf']= df_tree_accuracy['depth'].astype(str)+"_"+df_tree_accuracy['min_sample_leaf'].astype(str)

#sort the dataframe
df_tree_accuracy = df_tree_accuracy.sort_values(['mean'], ascending = False)
df_tree_accuracy.head()

     depth  min_sample_leaf      mean       std depth_leaf
404     11                5  0.950285  0.007333       11_5
400     11                1  0.949904  0.008198       11_1
361     10                2  0.949527  0.008526       10_2
405     11                6  0.949526  0.007053       11_6
724     19                5  0.949147  0.006929       19_5

# Result

In [20]:
#the result: with the best tree depth and accuracy
best_depth = df_tree_accuracy[df_tree_accuracy['mean'] == max(df_tree_accuracy['mean'])]
best_depth = int(best_depth['depth'])
print('the best depth is:', best_depth, 'with accuracy:',round(max(df_tree_accuracy['mean'])*100, 3), '%')

the best depth is: 11 with accuracy: 95.029 %

In [21]:
#check the errors:

#create a new data frame to store the prediction result. 
result_df = FullData.loc[:, 'RTL_STORE_CD': 'BEERTYPE']
result_df['PRED_RESULT'] = clf.predict(X)
result_df.head()

,RTL_STORE_CD,RTL_FIPS_COUNTY_DSC,RTL_PREMISE_TYPE_CD,RTL_CHANNEL_DSC,RTL_SUBCHANNEL_DSC,RTL_BEER_FLAG,RTL_LIQUOR_FLG,BEERTYPE,PRED_RESULT
0,101403888,SEDGWICK,OFF,LIQUOR,CONVENTIONAL LIQUOR,Y,Y,NonLowPoint,NonLowPoint
1,100091604,SALINE,OFF,CONVENIENCE STORE,CONVENTIONAL CONVENIENCE,Y,N,LowPoint,LowPoint
2,200697901,SEDGWICK,OFF,CONVENIENCE STORE,CONVENTIONAL CONVENIENCE,Y,N,LowPoint,LowPoint
3,100091143,HARPER,OFF,GROCERY,SUPERMARKET-CONVENTIONAL,Y,N,LowPoint,LowPoint
4,107381463,DOUGLAS,OFF,GROCERY,SUPERMARKET-NATURAL/GOURMET FOODS,Y,N,LowPoint,LowPoint

In [22]:
#check how many stores are predicted wrong; which are they; what characters do they have
error_index_list = []
for index in range(len(result_df)):
    if result_df.ix[index , 'BEERTYPE'] != result_df.ix[index , 'PRED_RESULT']:
        error_index_list.append(index)
print('there are', len(error_index_list), 'errors in the prediction')

there are 184 errors in the prediction

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:4: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate_ix
  after removing the cwd from sys.path.

In [29]:
#check the error predictions
error_df = result_df.ix[error_index_list, ]
false_NonLowPoint = error_df.loc[error_df['BEERTYPE'] == 'LowPoint']
false_LowPoint = error_df.loc[error_df['BEERTYPE'] == 'NonLowPoint']
false_NonLowPoint

,RTL_STORE_CD,RTL_FIPS_COUNTY_DSC,RTL_PREMISE_TYPE_CD,RTL_CHANNEL_DSC,RTL_SUBCHANNEL_DSC,RTL_BEER_FLAG,RTL_LIQUOR_FLG,BEERTYPE,PRED_RESULT
23,101907187,GEARY,ON,MILITARY ON-PREMISE,MILITARY FOOD SERVICE,Y,Y,LowPoint,NonLowPoint
111,100091796,RENO,OFF,GROCERY,SUPERMARKET-CONVENTIONAL,Y,Y,LowPoint,NonLowPoint
145,302192363,SEDGWICK,ON,DINING,CASUAL DINING,Y,Y,LowPoint,NonLowPoint
168,101735995,MONTGOMERY,ON,RECREATION,PRIVATE CLUB,Y,Y,LowPoint,NonLowPoint
185,301621538,JOHNSON,ON,DINING,CASUAL DINING,Y,Y,LowPoint,NonLowPoint
229,107503973,SEDGWICK,ON,DINING,FAST CASUAL,Y,Y,LowPoint,NonLowPoint
310,101735106,CLOUD,ON,RECREATION,PRIVATE CLUB,Y,Y,LowPoint,NonLowPoint
333,107328426,JOHNSON,ON,RECREATION,THEATER,Y,Y,LowPoint,NonLowPoint
343,102061029,SEDGWICK,ON,DINING,FAST CASUAL,Y,Y,LowPoint,NonLowPoint
392,201736313,SEDGWICK,ON,DINING,CASUAL DINING,Y,Y,LowPoint,NonLowPoint
471,107504735,RUSSELL,ON,LODGING,FULL SERVICE LODGING,Y,Y,LowPoint,NonLowPoint
505,103725374,RILEY,ON,MILITARY ON-PREMISE,MILITARY BAR/NIGHTCLUB,Y,Y,LowPoint,NonLowPoint
563,201733368,JOHNSON,ON,BAR/NIGHTCLUB,NEIGHBORHOOD BAR,Y,Y,LowPoint,NonLowPoint
578,107344381,JOHNSON,ON,DINING,POLISHED CASUAL,Y,Y,LowPoint,NonLowPoint
687,101735433,SEDGWICK,ON,BAR/NIGHTCLUB,NEIGHBORHOOD BAR,Y,Y,LowPoint,NonLowPoint
732,101732303,MIAMI,ON,RECREATION,GOLF/COUNTRY CLUB,Y,Y,LowPoint,NonLowPoint
812,101865496,RILEY,ON,MILITARY ON-PREMISE,MILITARY RECREATION,Y,Y,LowPoint,NonLowPoint
870,101923688,STAFFORD,ON,RECREATION,GOLF/COUNTRY CLUB,Y,Y,LowPoint,NonLowPoint
937,101951594,MARION,ON,RECREATION,BILLIARD/BOWLING/ARCADE,Y,Y,LowPoint,NonLowPoint
1234,102207678,SEDGWICK,ON,DINING,FAST CASUAL,Y,Y,LowPoint,NonLowPoint
1299,101739162,FORD,ON,LODGING,RESORT/CONVENTION,Y,Y,LowPoint,NonLowPoint
1429,101735271,BUTLER,ON,RECREATION,GOLF/COUNTRY CLUB,Y,Y,LowPoint,NonLowPoint
1473,101765219,BUTLER,ON,RECREATION,BILLIARD/BOWLING/ARCADE,Y,Y,LowPoint,NonLowPoint
1530,203595238,SEWARD,ON,BAR/NIGHTCLUB,SPORTS BAR,Y,Y,LowPoint,NonLowPoint
1665,107397603,SEDGWICK,ON,DINING,CASUAL DINING,Y,Y,LowPoint,NonLowPoint
1773,101735117,CLAY,ON,RECREATION,PRIVATE CLUB,Y,Y,LowPoint,NonLowPoint
1774,200091267,COWLEY,OFF,GROCERY,SUPERMARKET-LIMITED ASSORTMENT,Y,Y,LowPoint,NonLowPoint
1847,103907330,RILEY,ON,BAR/NIGHTCLUB,SPORTS BAR,Y,Y,LowPoint,NonLowPoint
1889,100388483,JOHNSON,OFF,GROCERY,SUPERMARKET-CONVENTIONAL,Y,Y,LowPoint,NonLowPoint
1938,203670389,JOHNSON,ON,DINING,CASUAL DINING,Y,Y,LowPoint,NonLowPoint
2045,100655071,ATCHISON,ON,BAR/NIGHTCLUB,SPORTS BAR,Y,Y,LowPoint,NonLowPoint
2222,201733468,JOHNSON,ON,DINING,CASUAL DINING,Y,Y,LowPoint,NonLowPoint
2248,101734641,SHAWNEE,ON,RECREATION,PRIVATE CLUB,Y,Y,LowPoint,NonLowPoint
2345,107491078,SHERIDAN,ON,RECREATION,PRIVATE CLUB,Y,Y,LowPoint,NonLowPoint
2413,103932724,JACKSON,ON,BAR/NIGHTCLUB,SPORTS BAR,Y,Y,LowPoint,NonLowPoint
2453,105217194,MIAMI,ON,RECREATION,GOLF/COUNTRY CLUB,Y,Y,LowPoint,NonLowPoint
2523,103664317,JOHNSON,ON,DINING,FAST CASUAL,Y,Y,LowPoint,NonLowPoint
2603,201733959,GEARY,ON,RECREATION,PRIVATE CLUB,Y,Y,LowPoint,NonLowPoint

In [31]:
false_LowPoint

,RTL_STORE_CD,RTL_FIPS_COUNTY_DSC,RTL_PREMISE_TYPE_CD,RTL_CHANNEL_DSC,RTL_SUBCHANNEL_DSC,RTL_BEER_FLAG,RTL_LIQUOR_FLG,BEERTYPE,PRED_RESULT
22,105527771,JOHNSON,ON,DINING,CASUAL DINING,Y,N,NonLowPoint,LowPoint
72,100683776,MIAMI,OFF,CONVENIENCE STORE,CONVENTIONAL CONVENIENCE,Y,N,NonLowPoint,LowPoint
78,200468114,BUTLER,OFF,CONVENIENCE STORE,CONVENTIONAL CONVENIENCE,Y,N,NonLowPoint,LowPoint
82,107308403,FINNEY,ON,DINING,CASUAL DINING,Y,Y,NonLowPoint,LowPoint
94,201990354,BUTLER,OFF,CONVENIENCE STORE,CONVENTIONAL CONVENIENCE,Y,N,NonLowPoint,LowPoint
99,107502828,RILEY,ON,DINING,CASUAL DINING,Y,Y,NonLowPoint,LowPoint
119,101739476,BUTLER,ON,DINING,CASUAL DINING,Y,Y,NonLowPoint,LowPoint
140,202004267,MIAMI,ON,DINING,CASUAL DINING,Y,Y,NonLowPoint,LowPoint
154,201403677,JEFFERSON,OFF,CONVENIENCE STORE,CONVENTIONAL CONVENIENCE,Y,N,NonLowPoint,LowPoint
176,101944918,WYANDOTTE,ON,DINING,FAST CASUAL,Y,N,NonLowPoint,LowPoint
187,107295493,DOUGLAS,ON,EXTENDED MASTER ON-PREMISE,RESTAURANT NA,N,N,NonLowPoint,LowPoint
192,107371287,CLAY,OFF,EXTENDED MASTER OFF-PREMISE,OFFICE BUILDING,N,N,NonLowPoint,LowPoint
199,107413566,CHEROKEE,OFF,CONVENIENCE STORE,CONVENTIONAL CONVENIENCE,Y,N,NonLowPoint,LowPoint
228,101739451,DOUGLAS,ON,RECREATION,THEATER,Y,N,NonLowPoint,LowPoint
283,100417743,NEOSHO,OFF,GROCERY,SUPERCENTER,Y,N,NonLowPoint,LowPoint
289,101909465,LEAVENWORTH,ON,BAR/NIGHTCLUB,NEIGHBORHOOD BAR,Y,Y,NonLowPoint,LowPoint
295,101738131,RILEY,ON,BAR/NIGHTCLUB,NEIGHBORHOOD BAR,Y,Y,NonLowPoint,LowPoint
321,107492379,SHAWNEE,ON,EXTENDED MASTER ON-PREMISE,RESTAURANT NA,N,N,NonLowPoint,LowPoint
334,103505864,SHAWNEE,NR,NON RETAIL,CLIENT INTERNAL,N,N,NonLowPoint,LowPoint
357,102578726,SHAWNEE,ON,DINING,CASUAL DINING,Y,N,NonLowPoint,LowPoint
367,107342731,DOUGLAS,OFF,EXTENDED MASTER OFF-PREMISE,OTHER OFF-PREMISE,N,N,NonLowPoint,LowPoint
374,102487381,SHAWNEE,ON,DINING,CASUAL DINING,Y,N,NonLowPoint,LowPoint
393,101863181,SEDGWICK,ON,DINING,CASUAL DINING,Y,N,NonLowPoint,LowPoint
406,101733471,JOHNSON,ON,DINING,CASUAL DINING,Y,N,NonLowPoint,LowPoint
413,107423567,RILEY,ON,DINING,CASUAL DINING,Y,Y,NonLowPoint,LowPoint
432,107271818,RILEY,ON,DINING,FAST CASUAL,Y,Y,NonLowPoint,LowPoint
435,100664074,SHAWNEE,ON,DINING,CASUAL DINING,Y,Y,NonLowPoint,LowPoint
450,101737336,RENO,ON,DINING,CASUAL DINING,Y,Y,NonLowPoint,LowPoint
460,207493514,JOHNSON,ON,RECREATION,BILLIARD/BOWLING/ARCADE,Y,N,NonLowPoint,LowPoint
468,107183591,JOHNSON,OFF,GROCERY,SUPERMARKET-CONVENTIONAL,Y,N,NonLowPoint,LowPoint
...,...,...,...,...,...,...,...,...,...
2136,100410655,RILEY,OFF,CONVENIENCE STORE,CONVENTIONAL CONVENIENCE,Y,N,NonLowPoint,LowPoint
2202,201914562,RENO,ON,DINING,CASUAL DINING,Y,N,NonLowPoint,LowPoint
2228,107388530,JOHNSON,ON,DINING,CASUAL DINING,Y,N,NonLowPoint,LowPoint
2260,101926645,WYANDOTTE,ON,DINING,CASUAL DINING,Y,Y,NonLowPoint,LowPoint
2291,101976732,LABETTE,OFF,GROCERY,SUPERCENTER,Y,N,NonLowPoint,LowPoint
2298,100535631,DOUGLAS,OFF,GROCERY,SUPERMARKET-CONVENTIONAL,Y,N,NonLowPoint,LowPoint
2326,102028292,BUTLER,OFF,CONVENIENCE STORE,CONVENTIONAL CONVENIENCE,Y,N,NonLowPoint,LowPoint
2342,102201887,SHAWNEE,ON,BAR/NIGHTCLUB,NEIGHBORHOOD BAR,Y,Y,NonLowPoint,LowPoint
2344,102048471,SHAWNEE,ON,DINING,CASUAL DINING,Y,Y,NonLowPoint,LowPoint
2351,201735733,BUTLER,ON,DINING,CASUAL DINING,Y,N,NonLowPoint,LowPoint
2367,201733241,WYANDOTTE,ON,DINING,CASUAL DINING,Y,Y,NonLowPoint,LowPoint
2409,101976739,BROWN,OFF,GROCERY,SUPERCENTER,Y,N,NonLowPoint,LowPoint
2414,101637313,ATCHISON,OFF,CONVENIENCE STORE,CONVENTIONAL CONVENIENCE,Y,N,NonLowPoint,LowPoint
2427,107418922,GEARY,OFF,GROCERY,SUPERMARKET-CONVENTIONAL,Y,N,NonLowPoint,LowPoint
2430,101911871,WYANDOTTE,OFF,EXTENDED MASTER OFF-PREMISE,DELI,N,N,NonLowPoint,LowPoint
2436,101927974,SHAWNEE,ON,DINING,CASUAL DINING,Y,N,NonLowPoint,LowPoint
2451,101739160,FORD,ON,DINING,CASUAL DINING,Y,Y,NonLowPoint,LowPoint
2452,203936571,JOHNSON,ON,DINING,CASUAL DINING,Y,N,NonLowPoint,LowPoint
2469,201804011,JOHNSON,ON,DINING,CASUAL DINING,Y,N,NonLowPoint,LowPoint
2484,107480148,SEDGWICK,ON,DINING,FAST CASUAL,Y,N,NonLowPoint,LowPoint
2495,201620502,DOUGLAS,ON,DINING,CASUAL DINING,Y,N,NonLowPoint,LowPoint
2504,100378380,GEARY,OFF,GROCERY,SUPERCENTER,Y,N,NonLowPoint,LowPoint
2512,101732266,DOUGLAS,ON,EXTENDED MASTER ON-PREMISE,RESTAURANT NA,N,N,NonLowPoint,LowPoint
2543,100511063,POTTAWATOMIE,OFF,GROCERY,SUPERMARKET-CONVENTIONAL,Y,N,NonLowPoint,LowPoint
2546,200930438,GRAY,OFF,GROCERY,SUPERMARKET-CONVENTIONAL,Y,N,NonLowPoint,LowPoint
2552,105527649,JOHNSON,ON,DINING,CASUAL DINING,Y,N,NonLowPoint,LowPoint
2555,102169963,SHAWNEE,OFF,EXTENDED MASTER OFF-PREMISE,OTHER OFF-PREMISE,N,N,NonLowPoint,LowPoint
2607,107500041,DOUGLAS,ON,DINING,CASUAL DINING,Y,N,NonLowPoint,LowPoint
2609,100377460,LYON,OFF,GROCERY,SUPERCENTER,Y,N,NonLowPoint,LowPoint
2630,107493514,JOHNSON,ON,RECREATION,OTHER ENTERTAINMENT,Y,N,NonLowPoint,LowPoint

In [32]:
#feature importance

#all the features with their importance scores.
feature_score = pd.Series(data=clf.feature_importances_, index=X.columns).sort_values(ascending = False)

#only show the features that have scores greater than 0
feature_score[feature_score > 0]

LIQUOR_LICENSE_Y                       0.884899
CHANNEL_LIQUOR                         0.041644
COUNTY_DOUGLAS                         0.022980
COUNTY_JOHNSON                         0.016348
COUNTY_SEDGWICK                        0.011719
SUBCHANNEL_CASUAL DINING               0.010593
SUBCHANNEL_NEIGHBORHOOD BAR            0.004685
BEER_LICENSE_N                         0.002669
SUBCHANNEL_SUPERCENTER                 0.001773
CHANNEL_DINING                         0.001234
PREMISE_ON                             0.000916
SUBCHANNEL_SUPERMARKET-CONVENTIONAL    0.000381
SUBCHANNEL_CONVENTIONAL CONVENIENCE    0.000121
SUBCHANNEL_FAST CASUAL                 0.000038
dtype: float64